.container {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.participant {
  font-size: 1.2rem;
  text-align: center;
  margin: 0.5rem 0;
  color: var(--font-color);
}

.participant:first-child {
  margin-top: 0rem;
}

.participant:last-child {
  margin-bottom: 0rem;
}
