:root {
  font-family: "Libre Franklin", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding: 0;
  margin: 0;

  --primary-color: #f14350;
  --secondary-color: #27a064;
  --on-primary-color: #fff;
  --font-color: #333333;

  --border-radius: 999999999999rem;
}

body {
  padding: 0;
  margin: 0;
}

